# Dependencies
node_modules/
vendor/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/blocks/**/*.js
/blocks/**/*.css
!/blocks/**/*.php


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Webpack
dist/

# Logs
logs/
*.log